body{
    background-color: darkgrey;
}
h1{
    text-align: center;
    color: rgb(44, 89, 172);
}
button{
    text-decoration: none;
    color: black;
    margin: 0 0 5% 45%;
    padding: 25px;
    border-radius: 5px;

}